<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>


    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid  main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <img src="images/img1.png" alt="parwez" class="img-fluid" title="parwez">
                    </div>
                    <div class="col-md-6 col-12 main_header_left">

                        <p>welcome to weather app</p>
                        <h3>hello i am<span class="spans"> parwez</span>developer</h3>

                        <a href="/"> <button>go back</button></a>

                        <!-- use of carousel in bootstrap -->





                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>