<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Already have account</title>
</head>
<style>
    button {
        background-color: #ff9933;
        /* Set background color */
        border: none;
        /* Remove borders */
        color: white;
        /* Set text color */
        padding: 15px 32px;
        /* Set padding */
        text-align: center;
        /* Center text */
        text-decoration: none;
        /* Remove underline */
        display: block;
        /* Display as inline block */
        font-size: 16px;
        /* Set font size */
        margin: 18px auto;
        /* Add some margin */
        cursor: pointer;
        /* Add cursor on hover */
        border-radius: 10px;
        width: 100%;
    }
    #box {
        
       
     margin-top: 150px;
        padding: 8px 16px;
        background-color: white;
        border-radius: 10px;
        width: fit-content;
    }
    #heading {
        margin: 1px 123px;
        padding: 7px 2px;
    }

    body {
        background-color: #0a7878;
       
       
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;

        
    }
</style>

<body>
    <div class="container">
    <div id="box">
        <h3 id="heading">Choose an Action</h3>
        <button id="btnTrans" ><a href="deposit">Deposit</a></button>
        <button id="btnDep"><a href="withdraw">Withdraw</a></button>
        <button id="btnWithdraw"><a href="transfer">transfer</a></button>
    </div>
    </div>
</body>

</html>