<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposite</title>
</head>
<style>
    #box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 23% auto;
        padding: 20px;
        background-color: whitesmoke;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        width: 400px;
    }

    #heading {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="number"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        width: 100%;
        font-size: 16px;
        margin-bottom: 11px;
    }

    button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    body {
        background-color: #0a7878;
    }

    .btn {
        background-color: #ff9933;
        /* Set background color */
        border: none;
        /* Remove borders */
        color: white;
        /* Set text color */
        padding: 7px 21px;
        /* Set padding */
        text-align: center;
        /* Center text */
        text-decoration: none;
        /* Remove underline */
        display: block;
        /* Display as inline block */
        font-size: 16px;
        /* Set font size */
        margin: 18px auto;
        /* Add some margin */
        cursor: pointer;
        /* Add cursor on hover */
        border-radius: 10px;
        width: 68%;
    }

      .forms{
        display: flex;
        justify-content: center;
        align-items: center;

        }
</style>

<body>


   <div class="forms">
        <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';"> {{message}}   &times;</span>
    </div>
    </div>
    <div id="box">
        <h3 id="heading">Enter the details of account</h3>
        <form action="deposit" name="myForm" onsubmit="return isValid()" method="post">
            <div>
                <label for="nAccNo">Account Number</label>
                <input id="fAccNo" type="number" name="nAccNo" required>
                &ThickSpace;<p class="errText" id="AccErr" style="color: red;"></p>
            </div>
            <div>
                <label for="nAmount">Deposit Amount</label>
                <input id="fAmount" type="number" name="nAmount" required>
                &ThickSpace;<p class="errText" id="AmtErr" style="color: red;"></p>
            </div>
            <div>
                <input class="btn" type="submit" value="Deposit">
            </div>
        </form>
    </div>
</body>
<script>
    function setError(id, message){
        let element=document.getElementById(id);
        element.innerHTML=message;
    }
    function isValid() {
        let returnValue=true;

        let accountNo = document.getElementById("fAccNo").value;
        if (accountNo.length < 5) {
            returnValue=false;
            setError("AccErr","Invalid Account Number");
        }

        let depositeAmt = document.getElementById("fAmount").value;
        if(depositeAmt>100000){
            returnValue=false;
            setError("AmtErr","Deposite limit is 1 lakh");
        }

        return returnValue;
    }
</script>

</html>