{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
      {{>navbar}}
    
     
      <div class="forms" >

        <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';"> {{message}}   &times;</span>
  
</div>
           <form  action="/save_account" method="POST">
           <div class="logo">
            <h1>open new account</h1>
           </div>


           
  <label class="label1" for="fname">First name:</label>      
  <input class="label2" type="text" id="fname" name="fname"><br><br>
  <label class="label1" for="lname">Last name:</label>
   <input  class="label2" type="text" id="lname" name="lname"><br><br>
  <label class="label1" for="email">Email:</label>
   <input class="label2" type="email" id="email" name="email"><br><br>
   <label class="label1" for="address">Address:</label>
   <input class="label2" type="text" id="address" name="address"><br><br>
   <label class="label1" for="number">Contact Number:</label>
   <input  class="label2" type="number" id="number" name="number"><br><br>
     <label class="label1" for="aadhar_number">Aadhar Number:</label>
   <input  class="label2" type="number" id=" aaddhar_umber" name="aadhar_number"><br><br>
   <label class="label1" for="dob">DOB:</label>
  <input  class="label2" type="text" id="dob" name="dob">
  <br><br>
   <label class="label1" for="branch">Branch:</label>      
  <input class="label2" type="text" id="branch" name="branch"><br><br>
   <label class="label1" for="AnnualIncome">Annual Income:</label>
   <input  class="label2" type="number" id="income" name="AnnualIncome"><br><br>

   <label  class="label1" for="gender">Gender</label>
<select class="label2" id="gender" name="gender" >
  <option value="male">Male</option>
  <option value="female">female</option>
  <option value="other">other</option>
  

</select>
<br><br>
 <label class="label1" for="amount">Opening Amount:</label>
   <input  class="label2" type="number" id="amount" name="amount"><br><br>
      <input style="display: inline;" id="submitButton5" type="submit" value="create">
            
          
          <button id="submitButton2" type="cancel">
            cancel
          </button>
            <button id="submitButton3" type="reset">
            reset
          </button>
           </form>
           

      </div>
      </div>
      
</body>
</html> --}}



<!DOCTYPE html>
<html>
<head>
	<title>Create Account Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="script.js"></script>
    <style>
    /* body {
        background-color: #a4dfe2;
        font-family: Arial, sans-serif;
    }
    
    h1 {
        text-align: center;
        color: #100f0f;
    }
    
    form {
        width: 30%;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #cccccc;
    }
    
    label {
        display: inline-block;
        width: 150px;
    }
    
    input[type="text"],
    input[type="date"],
    select {
        width: 200px;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #cccccc;
        border-radius: 3px;
    }
    
    input[type="radio"] {
        margin: 0 5px;
    }
    
    input[type="submit"] {
        background-color: #e71c8b;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #e71c8b;
    } */


    body {
  font-family: Arial, sans-serif;
  background-color: #a4dfe2;
}

h1 {
  text-align: center;
  color: #333;
  margin: 20px 0;
}

form {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 16px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #444;
}
#pop_up{
  background-color: #ffffff;
  color: #444;
  border: 1px solid white;
}
 .forms{
        display: flex;
        justify-content: center;
        align-items: center;

        }
 
</style>


</head>
<body>
 <div class="forms">
        <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';"> {{message}}   &times;</span>
    </div>
    </div>

	<h1>New Account</h1>
 
	<form method="post" action="/save_account" id="accountForm" onsubmit="return validateForm()">

		<!-- <label for="accountNumber">Account Number:</label>
		<input type="text" id="accountNumber" name="accountNumber" required><br><br> -->
        <label for="Aadharnumber">Aadhar Number:</label>
		<input type="number" id="Aadharnumber" name="Aadharnumber" required><br><br>
		<label for="accountOpeningDate">Account Opening Date:</label>
		<input type="date" id="accountOpeningDate" name="accountOpeningDate" required><br><br>

		<label for="accountType">Account Type:</label>
		<select id="accountType" name="accountType">
			<option value="checking">Checking</option>
			<option value="savings">Savings</option>
			<option value="credit">Credit</option>
		</select><br><br>

        <label for="accountOpeningBalance">Opening Balance:</label>
		<input type="number" id="accountOpeningBalance" name="accountOpeningBalance" required><br>
        <br>
		<input type="submit" value="Create Account">
	</form>
    <script>
    function validateForm() {
      
        var aadharNumber = document.getElementById("Aadharnumber").value;
        var accountOpeningDate = document.getElementById("accountOpeningDate").value;
        var accountType = document.getElementById("accountType").value;
        var accountOpeningBalance = document.getElementById("accountOpeningBalance").value;
    
      
    
        if (aadharNumber === "") {
            alert("Aadhar number must be filled out");
            return false;
        }
        if (aadharNumber.length!=12) {
            alert("Aadhar number length should be 12");
            return false;
        }
    
        if (accountOpeningDate === "") {
            alert("Account opening date must be filled out");
            return false;
        }
    
        if (accountType === "") {
            alert("Account type must be selected");
            return false;
        }
    
        if (accountOpeningBalance === "") {
            alert("Opening balance must be filled out");
            return false;
        }
    
        if (isNaN(accountOpeningBalance) || accountOpeningBalance < 0) {
            alert("Opening balance must be a positive number");
            return false;
        }
    
        return true;
    }   



	</script>

 
</body>
</html>