<!DOCTYPE html>
<html>

<head>
	<title>Reset Password</title>
	<link rel="stylesheet" href="style.css">
	<style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
        * {
            box-sizing: border-box;
        }
        * {
            margin: 0;
            padding: 0;
        }
        @keyframes animate {
            0% {
                transform: scale(0) translateY(0) rotate(70deg);
            }
            100% {
                transform: scale(1.3) translateY(-100px) rotate(360deg);
            }
        }
		body {
            margin: 0;
            /* padding: 48px 0; */
            font-family: "Figtree", sans-serif;
            font-size: 1.2rem;
            line-height: 1.6rem;
            /* background-image: linear-gradient(45deg, #9297e0, #ff73b3); */
            background: linear-gradient(180deg, #695aa6, 5%, #7f85ae, 50%, #7c82b0);
            min-height: 100vh;
        }
        h1 {
            font-weight: bold;
            margin: 0;
        }
        p {
            font-size: 14px;
            font-weight: 100;
            line-height: 20px;
            letter-spacing: .5px;
            margin: 20px 0 30px;
        }
        span {
            font-size: 12px;
        }
        a {
            color: #0e263d;
            font-size: 14px;
            text-decoration: none;
            margin: 15px 0;
        }
        .container {
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
            position: relative;
            overflow: hidden;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 768px;
            max-width: 40%;
            min-height: 480px;
            margin: auto;
            margin-top: 5%;
        }
        .form-container form {
            background: #fff;
            display: flex;
            flex-direction: column;
            padding: 0 50px;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .form-container input {
            background: #eee;
            border: none;
            padding: 12px 15px;
            margin: 8px 0;
            width: 100%;
        }
        button {
            border-radius: 20px;
            border: 1px solid #695aa6;
            background: #695aa6;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
            margin-top: 5%;
        }
        button:active {
            transform: scale(.95);
        }
        button:focus {
            outline: none;
        }
        button.ghost {
            background: transparent;
            border-color: #fff;
        }
        .form-container {
            position: absolute;
            top: 0;
            height: 100%;
            width: 70%;
            transition: all .6s ease-in-out;
        }

          #flash{
            z-index: 1;
            margin-bottom: 40px;
            text-transform: capitalize
            ;
            color: rgb(215, 109, 201);
        }
      
        .co{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #hel{
            z-index: 1;
        }
        .hel{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        li{
          list-style-type: none;
        }
    </style>


	
</head>

<body>
    <nav  id="hel">
        <ul class="hel">
            <li>
                <a href="/api/loginauth/user_land"> Go To Home Page</a>
            </li>
        </ul>
    </nav>
	{{!-- <div class="container">
		<h1>Reset Password</h1>
		<form id="reset-password" method="post" action="/api/resetpasswordauth/newPassword" name="register"
			onsubmit="return validateForm()">
			<label for="oldpassword">Old Password</label>
			<input type="password" id="oldpassword" name="oldpassword">
			<label for="password">New Password</label>
			<input type="password" id="password" name="password">
			<label for="confirmPassword">Confirm Password</label>
			<input type="password" id="confirmPassword" name="confirmPassword">
			<input type="submit" value="Reset Password">
		</form>
	</div> --}}
          <div class="co">

         <h3 id="flash"> {{message}}</h1>
          </div>
	<div class="container" id="container">
        <div class="form-container sign-in-container">
            <form name="register" action="/api/resetpasswordauth/newPassword" method="post" id="reset-password" onsubmit="return validateForm()">
                <h2>Change Password</h2>
                <br>

                <input name="oldpassword" id="oldpassword" placeholder="Old Password" type="password" />
                <input name="password" id="password" placeholder="New Password" type="password" />
                <input name="confirmPassword" id="confirmPassword" placeholder="Confirm New Password" type="password" />

                <button class="btn" type="submit" value="Reset Password">Change</button>
            </form>
        </div>
    </div>
	<script>

		function validateForm() {

			var oldpassword = document.forms["register"]["oldpassword"].value;
			var password = document.forms["register"]["password"].value;
			var confirmPassword = document.forms["register"]["confirmPassword"].value;

			if (!oldpassword || !password || !confirmPassword) {
				alert("All fields are required");
				return false;
			}

			if (password != confirmPassword) {
				alert("Password and confirm password must match");
				return false;
			}
			return true;
		}


         setTimeout(function(){
    // Find the alert element and hide it
    var alertElement = document.getElementById("flash");
    alertElement.style.display = "none";
}, 3000);
	</script>

</body>

</html>