<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    
    
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
   
</head>

<body>
    <nav>
        <div class="nav-center">
            <!-- nav header -->
            <div class="nav-header">
                <img src="/images/student-portfolio-logo.png" class="logoimage" alt="logo" />
                <button class="nav-toggle">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <!-- links -->
            <ul class="links">
                <li>
                    <a href="index.html">home</a>
                </li>
                <li>
                    <a href="about.html">about</a>
                </li>
                <li>
                    <a href="projects.html">projects</a>
                </li>
                <li>
                    <a href="contact.html">contact</a>
                </li>
            </ul>
            <!-- social media -->
            <ul class="social-icons">
                <li>
                    <a href="https://www.twitter.com">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com">
                        <i class="fab fa-behance"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com">
                        <i class="fab fa-sketch"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- basicprofile name etc -->
    <div class="container">
           <a href="student_data">
        <div class="view" id="profileDiv">
            <div id="profileTop">
                <!-- profile picture of the student -->
                <div id="imgDiv">
                    <image src="/images/myProfilePicture.png" id="profilePic" alt="profile picture">
                    </image>
                </div>

                <!-- name and email of the student -->
                <div id="name_emailDiv">
                    <h4 id="name">Yasir Arafat</h4>
                    <span id="email">IIT2021129@iiita.ac.in</span>
                </div>
            </div>
            <!-- bottom of profile -->
            <div id="profileBottom">
                <div class="profileLabel">
                    <h4 class="label" id="enrollmentLabel">Enrollment Number: </h4>
                    <span class="labelVal" id="enrollment">IIT2021129</span>
                </div>

                <div class="profileLabel">
                    <h4 class="label" id="YearLabel">Year : </h4>
                    <span class="labelVal" id="Year">Second</span>
                </div>

                <div class="profileLabel">
                    <h4 class="label" id="sectionLabel">Section: </h4>
                    <span class="labelVal" id="section">B</span>
                </div>

                <div class="profileLabel">
                    <h4 class="label" id="branchLabel">Branch: </h4>
                    <span class="labelVal" id="branch">Information Technology</span>
                </div>

                <div class="profileLabel">
                    <h4 class="label" id="programeLabel">Programme: </h4>
                    <span class="labelVal" id="programe">B.tech (4 years)</span>
                </div>

                <div class="profileLabel">
                    <h4 class="label" id="phoneLabel">Phone Number: </h4>
                    <span class="labelVal" id="programe">8252567432</span>
                </div>

            </div>

            <!-- end of profileDiv div -->
        </div>

</a>
        
        <!-- div for academic achievements -->

          <a href="student_achievement">
        <div class="view" id="skillsDiv">

            <div id="skillHeadingDiv">
                <image id="achievementsImg" src="/images/AchievementsIcon.png"></image>
                <h4 id="skillHeading" style="display: inline-block;">Achievements</h4>
            </div>

            <div id="allAchievementItems">
                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="skill1">Skill1</h4>
                    <div class="ListedSkillDescription" id="skill1Desc"><em>This is skill1 description lorem30 Human
                            beings
                            are the
                            most powerful of all the creatures that rely on and make use of the earth's natural
                            resources.
                        </em></div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="skill2">Skill2</h4>
                    <div class="ListedSkillDescription" id="skill2Desc"><em>This is skill2 description lorem30 Human
                            beings
                            are the
                            most powerful of all the creatures that rely on and make use of the earth's natural
                            resources.
                        </em></div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="skill3">Skill3</h4>
                    <div class="ListedSkillDescription" id="skill3Desc"><em>This is skill3 description lorem30 Human
                            beings
                            are the
                            most powerful of all the creatures that rely on and make use of the earth's natural
                            resources.
                        </em></div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="skill4">Skill4</h4>
                    <div class="ListedSkillDescription" id="skill4Desc"><em>This is skill4 description lorem30 Human
                            beings
                            are the
                            most powerful of all the creatures that rely on and make use of the earth's natural
                            resources.
                        </em></div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="skill5">Skill5</h4>
                    <div class="ListedSkillDescription" id="skill5Desc"><em>This is skill5 description lorem30 Human
                            beings
                            are the
                            most powerful of all the creatures that rely on and make use of the earth's natural
                            resources.
                        </em></div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="skill6">Skill6</h4>
                    <div class="ListedSkillDescription" id="skill6Desc"><em>This is skill6 description lorem30 Human
                            beings
                            are the
                            most powerful of all the creatures that rely on and make use of the earth's natural
                            resources.
                        </em></div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="skill7">Skill7</h4>
                    <div class="ListedSkillDescription" id="skill7Desc"><em>This is skill7 description lorem30 Human
                            beings
                            are the
                            most powerful of all the creatures that rely on and make use of the earth's natural
                            resources.
                        </em></div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="skill8">Skill8</h4>
                    <div class="ListedSkillDescription" id="skill8Desc"><em>This is skill8 description lorem30 Human
                            beings
                            are the
                            most powerful of all the creatures that rely on and make use of the earth's natural
                            resources.
                        </em></div>
                </div>

            </div>

            <!-- end of achievements -->
        </div>
</a>
        <!-- div for non academic achievements -->
  <a href="student_non_academic_skill">
        <div class="view" id="nonAcadSkillsDiv">

            <div id="nonSkillHeadingDiv">
                <image id="nonAcadAchievImg" src="/images/AchievementsIcon.png"></image>
                <h4 id="nonSkillHeading" style="display: inline-block;">Non-Academic skills</h4>
            </div>

            <div id="allNonAcadAchievItems">
                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="nonSkill1">Skill1</h4>
                    <div class="ListedSkillDescription" id="nonSkill1Desc"><em>This is skill1 description lorem30 Human
                            beings are
                            the most powerful of all the creatures that rely on and make use of the earth's natural
                            resources. </em>
                    </div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="nonSkill2">Skill2</h4>
                    <div class="ListedSkillDescription" id="nonSkill2Desc"><em>This is skill2 description lorem30 Human
                            beings are
                            the most powerful of all the creatures that rely on and make use of the earth's natural
                            resources. </em>
                    </div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="nonSkill3">Skill3</h4>
                    <div class="ListedSkillDescription" id="nonSkill3Desc"><em>This is skill3 description lorem30 Human
                            beings are
                            the most powerful of all the creatures that rely on and make use of the earth's natural
                            resources. </em>
                    </div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="nonSkill4">Skill4</h4>
                    <div class="ListedSkillDescription" id="nonSkill4Desc"><em>This is skill4 description lorem30 Human
                            beings are
                            the most powerful of all the creatures that rely on and make use of the earth's natural
                            resources. </em>
                    </div>
                </div>


                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="nonSkill5">Skill5</h4>
                    <div class="ListedSkillDescription" id="nonSkill5Desc"><em>This is skill5 description lorem30 Human
                            beings are
                            the most powerful of all the creatures that rely on and make use of the earth's natural
                            resources. </em>
                    </div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="nonSkill6">Skill6</h4>
                    <div class="ListedSkillDescription" id="nonSkill6Desc"><em>This is skill6 description lorem30 Human
                            beings are
                            the most powerful of all the creatures that rely on and make use of the earth's natural
                            resources. </em>
                    </div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="nonSkill7">Skill7</h4>
                    <div class="ListedSkillDescription" id="nonSkill7Desc"><em>This is skill7 description lorem30 Human
                            beings are
                            the most powerful of all the creatures that rely on and make use of the earth's natural
                            resources. </em>
                    </div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSkillHeading" id="nonSkill8">Skill8</h4>
                    <div class="ListedSkillDescription" id="nonSkill8Desc"><em>This is skill8 description lorem30 Human
                            beings are
                            the most powerful of all the creatures that rely on and make use of the earth's natural
                            resources. </em>
                    </div>
                </div>

            </div>

            <!-- end of non academicachievements -->
        </div>
        <!-- end ofnon academic achievements -->
         </a>
        <br>
          <a href="student_cgpa">

        <!-- for cgpa -->
        <div class="view" id="cgpaDiv">

            <div id="cgpaHeadingDiv">
                <image id="cgpaImg" src="/images/cgpa.png"></image>
                <h4 id="cgpaHeading" style="display: inline-block;">CGPA Overview</h4>
            </div>

            <div id="cgpaList">
                <div class="listItem">
                    <h4 class="ListedSemesterHeading" id="semHeading1">Semester 1: </h4>
                    <div class="ListedSemCG" id="sem1cgpa"><em>7.98</em></div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSemesterHeading" id="semHeading2">Semester 2: </h4>
                    <div class="ListedSemCG" id="sem2cgpa"><em>7.98</em></div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSemesterHeading" id="semHeading3">Semester 3: </h4>
                    <div class="ListedSemCG" id="sem3cgpa"><em>7.98</em></div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSemesterHeading" id="semHeading4">Semester 4: </h4>
                    <div class="ListedSemCG" id="sem4cgpa"><em>7.98</em></div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSemesterHeading" id="semHeading5">Semester 5: </h4>
                    <div class="ListedSemCG" id="sem5cgpa"><em>7.98</em></div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSemesterHeading" id="semHeading6">Semester 6: </h4>
                    <div class="ListedSemCG" id="sem6cgpa"><em>7.98</em></div>
                </div>

                <div class="listItem">
                    <h4 class="ListedSemesterHeading" id="semHeading7">Semester 7: </h4>
                    <div class="ListedSemCG" id="sem7cgpa"><em>7.98</em></div>
                </div>
            </div>

            <!-- overall cgpa div -->
            <div id="overallCgpaDiv">
                <div id="OverallCgpaHeadingDiv">
                    <h4 id="overallCgpaHeading">Overall</h4>
                </div>
                <span id="overallCgpa"><b>8.65</b></span>
            </div>

            <!-- end of cgpa -->
        </div>
</a>
        <!-- projects overview -->
          <a href="/api/projectauth/student_project" >

        <div class="view" id="projectDiv" onchange="get_details(this.value)">

            <div id="skillHeadingDiv">
                <image id="projectImg" src="/images/project.png"></image>
                <h4 id="skillHeading" style="display: inline-block;">Projects Overview</h4>
            </div>

            <div id="allProjectItems">
                <div class="listItem">
                    <h4 class="ListedProjectHeading" id="project1">Project1</h4>
                    <div class="ListedProjectDescription" id="project1Desc"><em>This is"Project1 description lorem30
                            Human
                            beings
                            are the most powerful of all the creatures that rely on and make use of the earth's natural
                            resources. </em>
                    </div>
                </div>

              
              

              

            </div>

            <!-- end of achievements -->
        </div>
    </div>
    </a>
    <!-- end of project overview -->
    <!--  -->
    <!-- javascript -->
    <script src="/js/main.js"></script>
    <script>
        const navToggle = document.querySelector('.nav-toggle')
        const links = document.querySelector('.links')

        navToggle.addEventListener('click', function () {
            links.classList.toggle('show-links')
        })
    </script>
</body>

</html>