<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer</title>
</head>
<style>
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    label {
        font-weight: bold;
    }

    input {
        padding: 5px;
        margin: 5px;
        border: 2px solid gray;
        border-radius: 5px;
    }

    .errText {
        margin: 0;
        font-size: 0.8em;
    }

    #box {
       margin-top: 150px;
        padding: 3px 0px;
        background-color: whitesmoke;
        border-radius: 10px;
        width: fit-content;
        margin-top: ;
    }

    body {
        background-color: #0a7878;
    }

    #heading {
        margin: 1px 84px;
        padding: 7px 2px;
    }
    .btn{
        background-color: #ff9933;
        /* Set background color */
        border: none;
        /* Remove borders */
        color: white;
        /* Set text color */
        padding: 7px 21px;
        /* Set padding */
        text-align: center;
        /* Center text */
        text-decoration: none;
        /* Remove underline */
        display: block;
        /* Display as inline block */
        font-size: 16px;
        /* Set font size */
        margin: 18px auto;
        /* Add some margin */
        cursor: pointer;
        /* Add cursor on hover */
        border-radius: 10px;
        width: 100%;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;

        
    }
     .forms{
        display: flex;
        justify-content: center;
        align-items: center;

        }
</style>

<body>


     <div class="forms">
        <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';"> {{message}}   &times;</span>
    </div>
    </div>
    <div class="container">
    <div id="box">
        <h3 id="heading">Enter the details of account</h3>
        <form action="/transfer" method="post">
            <div>
                <label for="nAccNo1">from Account</label>
                <input id="fAccNo" type="number" name="nAccNo1">
                &ThickSpace;<p class="errText" style="color: red;">error</p>
            </div>
                    <div>
                <label for="nAccNo2">To Account</label>
                <input id="fAccNo" type="number" name="nAccNo2">
                &ThickSpace;<p class="errText" style="color: red;">error</p>
            </div>
            <div>
                <label for="nAmount">Amount</label>
                <input id="fAmount" type="number" name="nAmount">
            </div>
            <div>
                <input class="btn" type="submit" value="Submit">
            </div>
        </form>
    </div>
    </div>
    <script>
        function clearErrors() {
    let errors = document.getElementsByClassName('errText');
    for (let item of errors) {
        item.innerHTML = "";
    }
}
clearErrors();
    </script>
</body>

</html>