<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid  main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="main_content">
                    <form class="info">
                        <input type="text" class="inputs" id="cityname" placeholder="enter th city name">
                        <input type="submit" value="search" id="submitbtn">
                    </form>
                </div>

                <div id="infocontainer">
                    <div id="toplayer">
                        <span id="day"></span>
                        <span id="date"></span>

                    </div>

                    <div id="middlelayer">
                        <p id="city_name"></p>
                        <div id="middle">

                            <p id="temp_status"> <i class="fa-solid fa-sun" style="color: yellow; margin: auto; font-size:40px"></i>
                            </p>
                            <span>temp  <span id="temp"></span></span>
                            <span>min temp  <span id="min_temp"></span></span>
                            <span>max temp  <span id="max_temp"></span></span>
                            <span>pressure  <span id="pressure"></span></span>
                            <span>humidity  <span id="humidity"></span></span>


                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>
    {{>footer}}
    <script src="js/main.js"></script>
    <script>

        const day=document.getElementById("day");
 const date=document.getElementById("date");
        const getcurrentDay=()=>{
let currenttime=new Date();

var weekday = [
"Sun",
"Mon",
"Tues",
"Wedn",
"Thur",
"Fri",
"Sat",
];

let dd= weekday[currenttime.getDay()];
return dd;

}




const getdate=()=>{
const months = [
"Jan",
"Feb",
"Mar",
"Ap",
"May",
"June",
"Jul",
"Aug",
"Sept",
"Oct",
"Nov",
"Dec",
];



let dd=new Date();
var month=months[dd.getMonth()+1];
var date=dd.getDate();
let hours=dd.getHours();
let minutes=dd.getMinutes();
let period="am";
if(hours>11){
period="pm";

if(hours>12){
hours-=12;
}
}
if(hours==0){
hours="00"
}

if(minutes<10){ minutes="0" + minutes; } return `${month} ${date} ${hours}:${minutes} ${period}` }
    day.innerHTML=getcurrentDay();
   date.innerHTML=getdate();
    </script>
</body>

</html>