
    <nav class="nav1">
      <div class="navbar">
        <div class="websitename">
          <a class="pnb_one" href="users">users</a>
        </div>
        <ul class="nav_list">
          <li><a href="new_account">New Account</a></li>
          <li><a href="deposit">Deposit</a></li>
         
           <li><a href="login">login</a></li>
           <li><a href="register">register</a></li>
           <li><a href="users">users</a></li>
        </ul>
      </div>
    </nav>
  