* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Courier New", Courier, monospace;
  text-decoration: solid;

}


body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
background-color: #ffffff;

}
input,
label {
  display: block;
  
}
label {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  text-decoration: solid;
}
.forms {
  height: 100vh;
  width: 100vw;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px;  */
  /* border: 2px solid pink; */
background-color: #ffffff;
}


.forms2 {
  height: 100vh;
  width: 100vw;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px;  */
  /* border: 2px solid pink; */
 background-color: #ffffff;
}


.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#logo {
  height: 4rem;
}
form {
  background-color: #b0949476;
  padding: 3rem 4rem;
}
.forms .logo h1 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
input {
  border-radius: 10px;
  background-color: transparent;
  padding: 1rem;
  height: 2rem;
  border: 1px solid blue;
  color: rgb(0, 0, 0);
}
#submitButton1 {
  border-radius: 10px;
  background-color: darkorange;
  border: 1px solid blue;
  color: rgb(0, 0, 0);
  padding: 0.5rem 2rem;
 font-weight: bold;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
    /* text-transform: uppercase; */
}
#submitButton2 {
  border-radius: 10px;
  background-color: darkorange;
  border: 1px solid blue;
  color: rgb(0, 0, 0);
  padding: 0.5rem 2rem;
 font-weight: bold;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
    /* text-transform: uppercase; */
}
#submitButton3 {
  border-radius: 10px;
  background-color: darkorange;
  border: 1px solid blue;
  color: rgb(0, 0, 0);
  padding: 0.5rem 2rem;
 font-weight: bold;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
    /* text-transform: uppercase; */
}
#submitButton4 {
  border-radius: 10px;
  background-color: darkorange;
  border: 1px solid blue;
  color: rgb(0, 0, 0);
  padding: 0.5rem 2rem;
 font-weight: bold;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
    /* text-transform: uppercase; */
}
#submitButton5 {
  border-radius: 10px;
  background-color: darkorange;
  border: 1px solid blue;
  color: rgb(0, 0, 0);
  padding: 0.5rem 2rem;
 font-weight: bold;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
    /* text-transform: uppercase; */
}
#submitButton1:hover {
  background-color: rgb(231, 163, 80);
}
#submitButton2:hover {
  background-color: rgb(231, 163, 80);
}
#submitButton3:hover {
  background-color: rgb(231, 163, 80);
}

#submitButton4:hover {
  background-color: rgb(231, 163, 80);
}
#submitButton5:hover {
  background-color: rgb(231, 163, 80);
}
#span {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
}

/* navbar */
.nav1{
    display: flex;
    background-color: #cacaf0;
    margin-top: 0.2rem;
    height: 3rem;
  border-radius: 10px;
  align-items: center;
 
   text-decoration:solid;
  
  
}
.websitename{
    margin-left: 1rem;
}



#login_link {
  text-decoration: none;
   font-weight: bold;
  color: rgb(0, 0, 0);
}
.navbar{
    display: flex;
    gap: 3rem;
     
    
   
}
.nav_list{
      display: flex;
      justify-content: center;
       align-items: center;
       gap: 3rem;

}
a{
    text-decoration: none;
    text-transform: uppercase;
  
}
ul{
 list-style-type: none;
 color: rgb(0, 0, 0);
}
a:link {
  color: rgb(156, 41, 41);
  background-color: transparent;
  text-decoration: solid;
  
}

a:visited {
  color: rgb(118, 16, 33);
  background-color: transparent;

}

a:hover {
  color: rgb(187, 73, 73);
  background-color: transparent;
 
}

a:active {
  color: yellow;
  background-color: transparent;
  
}
.label1{
  float: left;
}
.label2{
  float: right;
}


.account_number{
  height: auto;
  width: auto;

 
  padding: 1rem 2rem;
  width: 40%;
}
.table_row{
  display: flex;
  width: 100%;
  border: 1px solid green;
 justify-content: space-between;


}
.hh1{
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}
.depo{
  display: flex;
  align-items: center;
}



/* flipcard */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: aqua;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}


/* alert message */
#alert_message{
  color: blue;
  color:rgb(228, 5, 43);
  text-transform: uppercase;
}






/* alert */
.alert {
  padding: 20px;
  background-color: #9fece5; /* Red */
  color: rgb(0, 0, 0);
  padding: 1rem 2rem ;
text-transform: uppercase;
  
  
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}